@font-face {
    font-family: "Roboto";
    src: url(/Roboto-Regular.ttf) format('truetype');
}



h1,h3{
    font-family: Roboto;
}

.first-text h2 {
    font-family: sans-serif;
    font-weight: bold;
}

.second-text p {
    font-family: sans-serif;
    font-weight: bold;
}

.third-text p {
    font-family: "Poppins", sans-serif;;
    font-weight: 500;
}

