@font-face {
    font-family: "Roboto";
    src: url(/Roboto-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: bisque;
}

h1,h3{
    font-family: Roboto;
}

.color-text {
    color: #009D91;
    /* background-color: #CD0074; */
}

.first-text h2 {
    font-family: sans-serif;
    font-weight: bold;
}

.second-text p {
    font-family: sans-serif;
    font-weight: bold;
}

.third-text p {
    font-family: "Poppins", sans-serif;;
    font-weight: 500;
}

